:host {
    display: block;
    color: white;
    padding: 3rem 2rem;
}

.center-chat-window {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */

    /* Optional: Set height for vertical centering */
}

.chat-window {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    height: 300px;
    max-width: 800px;
    /* Adjust height as needed */
    overflow-y: scroll;
    /* Enable scrolling for long chats */
}

.inputchat {
    margin: 0 auto;
    padding: 1rem;
    max-width: 500px;
    outline: 0px solid white;
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Horizontally center content */
    align-items: center;
    /* Vertically center content */
}

.inputtext {
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;

    :focus {
        border: 3px solid #5551ff;
    }
}

.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.chat-window ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-window li {
    margin-bottom: 10px;
}

.message {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 5px;
}

.user {
    color: var(--green);
}

.model {
    color: #FFA07A;
}