<div class="container">
    <div class="chat-window">
        <ul>
            <li *ngFor="let message of messages">
                <span class="{{ message.role }}">{{ message.role }} </span>
                <i *ngIf="message.role === 'user'" class="bx bxs-send" style="color: var(--green);"></i>
                <i *ngIf="message.role === 'model'" class="bx bxs-bot" style="color: var(--green);"></i>
                <span class="message">{{ message.text }}</span>
            </li>
        </ul>
    </div>

    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
    <button (click)="sendMessage()" class="button-6">Send</button>
</div>