<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li>
            <a href="mailto:joeyubu@gmail.com">
                <i class="bx bxl-gmail" style="color: var(--green);"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/joeyubu">
                <i class="bx bxl-facebook-circle" style="color: var(--green);"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/ponganan">
                <i class="bx bxl-github" style="color: var(--green);"></i>
            </a>
        </li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: +66654195222</li>
        <li>LineID : joeyubu</li>
    </ul>
</div>