<myport-banner myportResponsive></myport-banner>
<myport-user-input myportResponsive></myport-user-input>
<app-chat myportResponsive></app-chat>
<myport-showproject myportResponsive></myport-showproject>
<myport-personal-information myportResponsive></myport-personal-information>
<myport-projects myportResponsive></myport-projects>

<div class="container">
    <myport-education myportResponsive></myport-education>
    <myport-work-experience myportResponsive></myport-work-experience>
</div>

<myport-skills myportResponsive></myport-skills>
<myport-contact myportResponsive></myport-contact>