<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li>
            <a href="mailto:joeyubu@gmail.com">
                <i class="bx bxl-gmail"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/joeyubu">
                <i class="bx bxl-facebook-circle"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/ponganan">
                <i class="bx bxl-github"></i>
            </a>
        </li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: 0654195222</li>
        <li>joeyubu&#64;gmail.com</li>
    </ul>
</div>