.container {
    display: grid;
    grid-template-columns: 1fr;
}

.title {
    font-size: 4rem;
    padding: 0 0 2rem;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.title2 {
    font-size: 2rem;
    padding: 0 0 1rem;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-container {
    display: flex;
    /* Enables flexbox for inline arrangement */
    align-items: center;
    /* Aligns elements vertically (already set) */
    justify-content: center;
    /* Centers elements horizontally */
}

.input {
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);

    :focus {
        border: 2px solid #000;
        border-radius: 4px;
    }

    margin-right: 20px;
}

/* CSS */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.angular-text-gradient {
    background: linear-gradient(225deg, #8514f5 0%, #e90364 100%);
    //color: var(--color-dark-200);
    //background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //-webkit-box-decoration-break: clone
}