<div class="sign-in-container">
    <div class="sign-column s1">
        <div class="sign-column-face s2">
            <div class="s3">
                <div class="sign-header-section">
                    <div class="sign-in-title">
                        Login Page
                    </div>
                    <div class="sign-in-title-alt">
                        Welcome
                    </div>
                </div>
                <div class="sign-buttons">
                    <a href="#" class="login-w-button">
                        <img width="18" height="18" src="https://img.icons8.com/color/48/google-logo.png"
                            alt="google-logo" />
                        <span>Sign in with Google</span>
                    </a>
                </div>
                <div class="slice-container">
                    <div class="slice-text-c">
                        <div class="slicer"></div>
                        <div class="slice-text">Or with email</div>
                    </div>
                </div>
                <form class="input-container" #loginForm="ngForm">
                    <input type="email" required placeholder="Email" #username [(ngModel)]="username">
                    <input type="password" required placeholder="Passowrd" #password [(ngModel)]="password">
                    <a href="#" class="alt-f">
                        Forgot Password ?
                    </a>
                    <button (click)="onSubmit(loginForm)">
                        Sign in
                    </button>
                    <div href="#" class="alt-f-full">
                        Not a Member yet ?
                        <a href="sign-up.html" class="alt-f">
                            Sign up
                        </a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>