<div class="container">
    <div class="title">
        <!-- import ng add @angular/material for use mat-card -->
        <div class="card-container">

            <a href="https://www.example.com">
                <mat-card class="example-card ">
                    <mat-card-header class="row align-items-center">
                        <p style="color: green;">Angular</p>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/angular.png" alt="img">
                    <mat-card-content>

                    </mat-card-content>
                    <button>Read more..</button>
                </mat-card>
            </a>

            <a href="http://localhost:4200/chat">
                <mat-card class="example-card ">
                    <mat-card-header class="row align-items-center">
                        <p style="color: green;">Angular</p>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/angular.png" alt="img">
                    <mat-card-content>

                    </mat-card-content>
                    <button>Read more..</button>
                </mat-card>
            </a>

            <a href="https://www.google.com">
                <mat-card class="example-card ">
                    <mat-card-header class="row align-items-center">
                        <p style="color: green;">Angular</p>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/angular.png" alt="img">
                    <mat-card-content>

                    </mat-card-content>
                    <button>Read more..</button>
                </mat-card>
            </a>

        </div>
    </div>

    <!-- <div class="input-container"> <input class="input" placeholder="Your Name"><button class="button-6">Submit</button>
    </div> -->
</div>